html {
    
}

body {
    font-family: Roboto;
    font-size: 1rem;
    /* Black/100 */
    background: #F7F7F9;
    margin-top: 64px;
}

a {
    //styleName: Emphasis Smal Underline;
    font-style: normal;
    font-size: 14.6px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line: underline;
}

.overline {
    //styleName: Overline;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.emph-small {
    //styleName: Emphasis Small;
    font-size: 14.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.user-info {
    .wrap {
        padding: 1rem;
        /* Black/00 */
        background: #FFFFFF;
        /* 8px */
        box-shadow: 0px 8px 16px rgba(27, 37, 47, 0.04);
        border-radius: 8px;
    }

    .list-item {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .overline {
        /* Primary/400 */
        color: #1B35AE;
    }
    .emph-small {
        /* Black/600 */
        color: #777798;
    }
    .descr {
        /* Black/900 */
        color: #30303F;
    }
}