body {
    font-family: Roboto;
}

a {
//styleName: Emphasis Smal Underline;
font-size: 14.6px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
text-decoration-line: underline;
}

.menu-item {
    //styleName: Emphasis;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #636382;
}